.background {
    background: url("../pictures/2.jpg")center;
}

.about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    height: auto;
    background: #fafaff;
    margin: 10vh auto 10vh auto;
}

.mission {
    padding: 15px;
}

.mission h3 {
    font-size: 1.6em;
    color: rgba(40, 79, 139, 0.9);
}

.mission ol li {
    /* Text color */
    color: rgba(28, 51, 103, 1);
    list-style-type: none;
    padding: 0.4em;
}

.mission ol li:before {
    /* Unicode bullet symbol */
    content: '\2022 ';
    /* Bullet color */
    color: rgba(28, 51, 103, 1);
    padding-right: 0.5em;
}

.about_slider {
    height: auto;
    width: 100%;
    max-width: 678px;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.about_slider img {
    width: 100%;
    height: auto;
    margin: auto;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}