.projects_container {
    width: 86vw;
    margin: 8vh 7vw;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    grid-row-gap: 3vh;
}

.projects_template {
    display: grid;
    grid-template-columns: minmax(auto, 400px) auto;
    max-height: 270px;
    background-color: #f5f5f5;
    box-shadow: 2px 7px 11px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.projects_template img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img_container {
    max-width: 400px;
    max-height: 250px;
    height: auto;
    display: inline-block;
    background-size: cover;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.post_content {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-size: 1.1em; */
    margin: 20px auto;
    padding: 0 60px 0 20px;
}

.post_content h2 {
    font-size: 1.5em;
    padding: 15px 0;
    color: rgba(40, 79, 139, 0.9);
}

.post_content p {
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    font-size: 1.2em;
    line-height: 26px;
    word-spacing: 1px;
    padding-bottom: 20px;
}